
.task-form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;     
}

.task-input {
    width: 350px;
    font-size: 18px;
    background-color: white;
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #F39C99;
    outline: none;
    border-radius: 30px;
    margin: 1rem;
}


.task-button {
    padding: 16px;
    font-size: 18px;
    font-family: Roboto, sans-serif;
    border: none;
    font-weight: bold;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    background: #F39C99;
    color: #fff;
    border-radius: 30px;
}

.task-button:hover {
    background: #F5CAC3;
    color: #fff;
}
    

